{% comment %}theme-check-disable MissingTemplate{% endcomment %}
{%- liquid
  assign image_position = image_position
  case image_size
    when 'third'
      assign text_width_desktop = 'lg:col-span-8'
      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-9 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-4'
      endif
    when 'half'
      assign text_width_desktop = 'lg:col-span-6'
      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-7 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-6'
      endif
    when 'three_fifths'
      assign text_width_desktop = 'lg:col-span-5'
      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-6 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-7'
      endif
    when 'two_thirds'
      assign text_width_desktop = 'lg:col-span-4'
      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-5 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-8'
      endif
  endcase
-%}

{%- render 'shape-defs' 
  , shape: image_shape,
  shape_id: section_id,
  index: index,
  blob_type: blob_type -%}

<div class="px-section relative z-10 w-full mx-auto">
  <div class="{% if display_on_card %}card-container{% endif %}">
    <div class="{% if display_on_card %}card p-5 lg:p-10{% endif %} section-content mx-auto relative z-10 text_alignment">
      <div class="grid grid-cols-1 lg:grid-cols-12 grid-flow-row-dense gap-10">
        <div class="{{ image_width_desktop }}">
          {%- if image != blank or video != blank -%}
            {%- render 'media-image' 
              , video: video,
              media: image,
              shape_id: section_id,
              shape: image_shape,
              crop: crop,
              rotate: rotate_image,
              is_card: display_on_card,
              container_id: container_id,
              disable_media_style: disable_media_style -%}
          {%- else -%}
            {%- render 'media-image-placeholder', shape_id: section_id, container_id: section_id, shape: image_shape, crop: scrop, is_card: display_on_card, blob_type: blob_type -%}
          {%- endif -%}
        </div>
        <div class="flex items-center {{ text_width_desktop }}" style="color:{{settings.text_color}}">
          <div class="{{ text_alignment }}">
            {% if title != '' %}
              <h2 class="font-heading  {{ heading_size }} heading-style {{ settings.heading_drop_shadow_style }}">{{ title }}</h2>
            {% endif %}

            <div class="rte  mt-5  max-w-2xl {% if text_alignment contains 'center' %}mx-auto{% elsif text_alignment contains 'right' %}ml-auto{% endif %}">
              {{ richtext }}

              {%if icons != blank%}
              <ul id="icon-row-{{ section.id }}" class="feature-icon-list flex flex-wrap lg:flex-nowrap items-top justify-center -mt-5 lg:mt-0 lg:-mx-5 customized-mobile-icon-list">
                {% for block in icons %}
                  <li class="px-5 mt-5 lg:mt-0 text-center w-1/2 lg:w-auto lg:flex-1 lg:min-w-0" style="max-width: {{ section.settings.max_width | times: 2 }}px">
                    <div class="mx-auto">
                      <span class="text-scheme-text block mx-auto" style="max-width: {{ section.settings.max_width }}px">
                        {% if block.settings.image_alternative != blank %}
                          {{ block.settings.image_alternative | image_url: width: 500 | image_tag: class: 'theme-icon-list-icons', loading: 'lazy' }}
                        {% else %}
                          {% render 'theme-icon', icon: block.settings.icon %}
                        {% endif %}
                      </span>
                    </div>
                    {% if block.settings.text != '' %}
                      <{{ block_heading_level }} class="mt-4 break-words text-base {% if section.settings.text_style == 'heading' %}font-heading heading-secondary{% endif %}">{{ block.settings.text }}</{{ block_heading_level }}>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
              {%endif%}
              {% comment %} check for icons if all is nil {% endcomment %}
              {%assign texts = "" %}
              {% for i in (1..4) %}
                {% assign title = 'image_heading_' | append: i%}
                {% assign texts = texts | append : settings[title]%}
              {% endfor %}
              {% if texts != ""%}
              <div class="content_icon_container">
                {% for i in (1..4) %}
                  {% assign title = 'image_heading_' | append: i%}
                  {% assign image = 'image_link_' | append: i%}
                  {% if settings[title] != blank or settings[image] != blank %}
                    <div class="content_icon_item">
                      {% if settings[image] != blank %}
                      <span class="text-scheme-text block">
                          {{ settings[image] | image_url: width: 500 | image_tag: loading: 'lazy' }}
                      </span>
                    {% endif %}
                    {% if settings[title] != '' %}
                      <span class="break-words text-lg custom-text font-heading">{{settings[title]}}</span>
                    {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              {%endif%}
            </div>

            {%- if button_link != blank and button_label != '' -%}
              <div class="mt-5">
                <a href="{{ button_link }}" class="inline-block push-btn mt-2">
                  <span class="push-btn-surface">{{ button_label }}</span>
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
    {% if section.settings.display_on_card and settings.card_show_border_on_shadow %}
      <div class="card-border"></div>
    {% endif %}
  </div>
</div>