{%- liquid
assign container_id = 'FeatureMedia-' | append: section.id
unless loading == 'eager'
assign loading = 'lazy'
assign preload = false
else
assign preload = true
endunless
-%}

{%- liquid
  assign ratio = section.settings.aspect_ratio | split: ':'
  assign ratio = ratio[1] | plus: 0.0 | divided_by: ratio[0] | plus: 0.0 | times: 100.0
-%}
<div class="pb-media-shadow" data-product-single-media-wrapper="{{ media.id }}">
  <div class="media-style-container">
    <div
      x-data='
                                                                                                                                    ThemeModule_Video(
                                                                                                                                      "{{ section.id }}",
                                                                                                                                      "external_video",
                                                                                                                                      {{ section.settings.video_url.type | json }}
                                                                                                                                    )'
      class="relative w-full"
      style="padding-top: {{ ratio }}%;"
      x-intersect:leave="pause()">
      <template x-if="enabled">
        <div class="{% if section.settings.style == 'inset' %}media-style-container media-style-container--absolute top-0 left-0 right-0 bottom-0 w-full h-full{% endif %}" :class="{ 'opacity-0': !shown, 'pointer-events-none': !shown }">
          {%- if video_url.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ video_url.id }}?enablejsapi=1&autoplay=1"
              class="js-youtube absolute top-0 left-0 right-0 bottom-0 w-full h-full"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"></iframe>
          {%- else -%}
            <iframe
              src="https://player.vimeo.com/video/{{ video_url.id }}?autoplay=1"
              class="js-vimeo  absolute top-0 left-0 right-0 bottom-0 w-full h-full"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"></iframe>
          {%- endif -%}
        </div>
      </template>
      <div
        class="cursor-pointer group transition-opacity duration-300"
        :class="{ 'opacity-0' : shown, 'pointer-events-none': shown }"
        @click="enableVideo()">
        <div class="absolute inset-0 w-full h-full">
          {{ media | image_url: width: 2000 | image_tag: sizes: sizes, preload: preload, class: 'absolute inset-0 w-full h-full' }}
        </div>
        <div class="absolute inset-0 w-full h-full transition-opacity duration-500 opacity-0 group-hover:opacity-30">
          <div class="bg-scheme-background w-full h-full"></div>
        </div>
        <button class="absolute inset-0 w-full h-full grid place-content-center">
          <span class="sr-only">{{ 'general.video.play' | t }}</span>
          <div class="relative z-10">
            <div class="push-btn">
              <span class="push-btn-surface align-bottom p-2">
                <span class="inline-block p-2.5">
                  <span class="inline-block w-10 h-10">
                    {% render 'icon-play' %}
                  </span>
                </span>
              </span>
            </div>
          </div>
        </button>
      </div>
    </div>
    {% unless request.design_mode %}
      <script src="{{ 'modules-video.bundle.min.js' | asset_url }}" type="module"></script>
    {% endunless %}
  </div>
</div>


{%- liquid
assign media_id = container_id | append: '-' | append: media.id
assign disable_media_style = disable_media_style | default: false
assign media_class = 'media-style '
assign foreign_object_class = 'foreign-object-img w-full h-full object-cover '
if settings.media_drop_shadow_size > 0
assign foreign_object_class = foreign_object_class | append: 'bg-scheme-card'
assign media_class = media_class | append: 'bg-scheme-card'
endif 
-%}

{%- if shape contains 'default' or shape == '' or shape == blank -%}
  <div class="media-{{ media_id }} media-style-container  {% if settings.media_drop_shadow_size == 0 %}media-no-shadow{% endif %} {% if disable_media_style %}media-style-none{% endif %} {% if is_card %}media-style-is-card{% endif %} {{ shape | split: '_' | last }}">
    <div class="{% unless crop == '' or crop == blank or crop == 'natural' %}image-wrapper {{ crop }}{% endunless %} media-content">
      {{ media | image_url: width: 2000 | image_tag: class: media_class, loading: 'lazy', sizes: sizes, onerror: 'this.style.color="currentColor"', onload: 'this.style.color="currentColor"' }}
    </div>
    {%- if settings.media_drop_shadow_size > 0 and is_card == false and settings.media_show_border_on_shadow and disable_media_style == false -%}
      <div class="media-drop-shadow-border w-full h-full"></div>
    {%- endif -%}
  </div>
{%- else -%}
  <div class="media-{{ media_id }}">
    <div class="media-shape-container relative z-10">
      <svg
        class="media-svg relative"
        viewBox="0 0 200 200"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>{{ media.alt }}</title>
        <foreignObject
          class="aspect-ratio-supported"-webkit-clip-path="url(#clip-{{ shape_id }})"
          clip-path="url(#clip-{{ shape_id }})"
          width="100%"
          height="100%">
          <div class="aspect-w-1 aspect-h-1 w-full h-full">
            <video
              class="foreign-object-img w-full h-full object-cover bg-scheme-card"
              loading="lazy"
              autoplay>
              <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </foreignObject>
        {%- unless disable_media_style -%}
          <use style="fill: none;" href="#outline-{{ shape_id }}" />
        {%- endunless -%}
      </svg>
      {%- if settings.media_drop_shadow_size > 0 and is_card == false and disable_media_style == false -%}
        <svg
          class="media-svg media-drop-shadow media-shape-drop-shadow relative w-full h-full"
          viewBox="0 0 200 200"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          role="presentation"
          aria-hidden="true"
          focusable="false">
          <use class="media-drop-shadow-path {% if settings.media_shadow_style == 'border' %}border-only{% endif %}" href="#outline-{{ shape_id }}" />
          {%- if settings.media_shadow_color == 'color-scheme-gradient' and settings.media_shadow_style != 'border' -%}
            <foreignObject
              clip-path="url(#clip-{{ shape_id }})"
              width="100%"
              height="100%">
              <div class="aspect-w-1 aspect-h-1 w-full h-full bg-scheme-gradient"></div>
            </foreignObject>
          {%- endif -%}
        </svg>
      {%- endif -%}
      {%- if settings.media_drop_shadow_size > 0 and is_card == false and settings.media_show_border_on_shadow and disable_media_style == false -%}
        <svg
          class="media-svg media-drop-shadow-stroke relative w-full h-full"
          viewBox="0 0 200 200"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <use class="media-drop-shadow-stroke-path" href="#outline-{{ shape_id }}" />
        </svg>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
{%- unless rotate == 0 -%}
  <style>
    .media-{{ media_id }}{
      transform: rotate({{ rotate }}deg);
    }
  </style>
{%- endunless -%}