{% liquid
  assign content_class = 'grid absolute inset-0 w-full h-full'
  assign content_inset_class = 'max-w-site py-5 px-section mx-auto'
  assign card_container_class = 'card-container max-w-sm'
  assign card_content_class = 'card py-5 py-10 px-section'
  case crop
    when 'four-three'
        assign container_class = 'aspect-w-4 aspect-h-3'
    when 'widescreen'
        assign container_class = 'aspect-w-16 aspect-h-9'
    when 'cinematic'
      assign container_class = 'aspect-w-2.35 aspect-h-1'
    when 'full-screen'
      assign container_class = 'h-screen'
  endcase

  case crop_desktop
    when 'four-three'
      assign container_class = container_class | append: ' lg:h-auto lg:aspect-w-4 lg:aspect-h-3'
    when 'widescreen'
      assign container_class = container_class | append: ' lg:h-auto lg:aspect-w-16 lg:aspect-h-9'
    when 'cinematic'
      assign container_class = container_class | append: ' lg:h-auto lg:aspect-w-2.35 lg:aspect-h-1'
    when 'full-screen'
      assign container_class = container_class | append: ' lg:p-0 lg:h-screen'
  endcase
%}

<div class="relative z-10 lg:bg-transparent {{ container_class }}" >
  <div class="{% if style == 'inset' %}max-w-site px-5 lg:px-10 py-5 mx-auto{% endif %}">
    <div class="{% if style == 'inset' %}media-style-container{% endif %}">
      {% render 'background-video',
        video: video,
        fallback_image: fallback_image,
        component_id: section.id
      %}
    </div>
  </div>
  <div
    class="px-section py-section-vertical-spacing {{ content_class }} z-10  text-scheme-text {{ place_content }} {{ text_align }} {% if style == 'inset' %}max-w-site mx-auto{% endif %}" 
  > 

  {%- capture content %}
    {% if title != blank %}
      <h2 class="font-heading  {{ heading_size }} heading-style {{ settings.heading_drop_shadow_style }}">
        {{ title | escape }}
      </h2>
    {% endif %}
    {% if richtext != blank %}
      <div class="richtext text-theme-basic mt-5">
        {{ richtext }}
      </div>
    {% endif %}

    {% if cta_url != blank and cta_text != blank %}
      <div class="relative z-10 mt-5">
        <a class="inline-block push-btn" href="{{ cta_url }}">
          <span class="push-btn-surface">{{ cta_text }}</span>
        </a>
      </div>
    {% endif %}
  {%- endcapture -%}

    <div class="{% if style == 'inset' %}{{ content_inset_class }}{% endif %}">
      <div class="{% if display_on_card == true %}{{ card_container_class }}{% endif %} text-scheme-text" data-color-scheme="{{ text_overlay_color }}">
        <div class="{% if display_on_card == true %}{{ card_content_class }}{% endif %}">
          {{ content }}
        </div>
        {% if section.settings.display_on_card and settings.card_show_border_on_shadow %}<div class="card-border"></div>{% endif %}
      </div>
    </div>
  </div>
</div>
