{%- liquid
  assign items = collections
  assign block_collections = section.blocks | where: "type", "collection"
  if block_collections.size > 0
    assign using_blocks = true
    assign items = block_collections
  endif
-%}
{%- paginate collections by 6 -%}
<section class="relative text-scheme-text bg-scheme-background py-section-vertical-spacing {% if section.settings.use_gradient_background %}bg-scheme-gradient{% endif %} overflow-hidden" data-color-scheme="{{ section.settings.color_scheme | default: 'primary' }}" >

  <div class="max-w-site mx-auto px-section grid lg:grid-flow-row-dense lg:grid-cols-12 lg:auto-rows-auto {% if section.settings.title != '' %}section-content-top-margin{% endif %} gap-theme">
    {% for item in items %}
    {%- liquid
      assign default_label = 'homepage.onboarding.collection_title' | t
      assign collection = item
      assign image_shape = section.settings.image_shape
      if using_blocks
        assign collection = collections[item.settings.collection]
        if item.settings.image_shape != 'same_as_section'
          assign image_shape = item.settings.image_shape
        endif
        assign rotate_image = item.settings.rotate_image
      endif
      assign url = collection.url
      assign image = collection.image | default: collection.products.first.featured_image
      assign button_text = collection.title | default: default_label
      capture desktop_size
        cycle 'lg:col-span-8 lg:row-span-2', 'lg:col-span-4', 'lg:col-span-4', 'lg:col-span-4', 'lg:col-span-4 lg:row-start-4', 'lg:col-span-8 lg:row-span-2'
      endcapture

      assign shape_id = block.id
      if image_shape == 'blob'
        assign shape_id = block.id | append: '-' | append: forloop.index0
      endif
    -%}

    {% comment %}theme-check-disable UndefinedObject{% endcomment %}
    <div class="gallery-item relative flex items-center justify-center {{ desktop_size }}" {{ block.shopify_attributes }} >
    {% comment %}theme-check-enable UndefinedObject{% endcomment %}
      <a href="{{ url }}" class="block group w-full">

        {%- render 'shape-defs',
          shape: image_shape,
          shape_id: shape_id,
          index: forloop.index0
        -%}

        {%- if image != blank -%}
        <div class="w-full">
          {%- render
            'media-image',
            media: image,
            shape: image_shape,
            shape_id: shape_id,
            crop: section.settings.crop,
            is_card: false,
            rotate: rotate_image,
            container_id: section.id,
            index: forloop.index0
          -%}
        </div>
        {%- else -%}
        <div class="w-full">
          {%- render 'media-image-placeholder', shape_id: shape_id, container_id: section.id, index: forloop.index0, shape: image_shape, crop: section.settings.crop, is_card: false, index: forloop.index0 -%}
        </div>
        {%- endif -%}

        {%- if button_text != blank -%}
        <div class="{% if section.settings.show_buttons_on_mobile %}flex{% else %}hidden lg:flex{% endif %} gallery-item__content absolute top-0 left-0 right-0 bottom-0  items-center justify-center text-scheme-text text-center z-10 px-5  {% if section.settings.only_show_button_on_hover %}lg:opacity-0 group-hover:lg:opacity-100 transition duration-200 ease-in-out{% endif %}">
          <span class="push-btn  text-center inline-block break-words">
            <span class="{{ section.settings.button_style }}">{{ button_text }}</span>
          </span>
        </div>
        {%- endif -%}
      </a>
    </div>
    {%- endfor -%}
  </div>

  {%- unless using_blocks -%}
    {%- if paginate.pages > 1 -%}
    <div class="px-section max-w-site mx-auto pt-section-vertical-spacing">
      {%- render 'pagination', paginate: paginate, anchor: '' -%}
    </div>
    {%- endif -%}
  {%- endunless %}

  {%- liquid
    for block in section.blocks
      case block.type
        when 'background_shape'
          render 'block-background-shape' with block: block, section: section
        when 'background_pattern'
          render 'block-background-pattern' with block: block, section: section, scheme: section.settings.color_scheme
        when 'shape_divider'
          render 'block-shape-divider' with block: block, section: section
      endcase
    endfor
  -%}
</section>
{%- endpaginate -%}

{%- assign stickers = section.blocks | where: "type", "sticker" -%}
{%- liquid
  for sticker in stickers
    render 'block-sticker' with block: sticker, section: section
  endfor
-%}

{% schema %}
{
  "name": "Collection list - collage",
  "settings": [
    {
      "type": "select",
      "id": "crop",
      "label": "Crop",
      "options": [
        {
          "value": "",
          "label": "No crop"
        },
        {
          "value": "aspect-w-4 aspect-h-3",
          "label": "Landscape"
        },
        {
          "value": "aspect-w-1 aspect-h-1",
          "label": "Square"
        },
        {
          "value": "aspect-w-3 aspect-h-4",
          "label": "Portrait"
        }
      ],
      "default": "aspect-w-1 aspect-h-1"
    },
    {
      "type": "select",
      "id": "image_shape",
      "label": "Default image shape",
      "options": [
        {
          "value": "default",
          "label": "Default",
          "group": "Fit to image"
        },
        {
          "value": "default_ellipse",
          "label": "Ellipse",
          "group": "Fit to image"
        },
        {
          "value": "default_pill",
          "label": "Pill",
          "group": "Fit to image"
        },
        {
          "value": "default_archway",
          "label": "Archway",
          "group": "Fit to image"
        },
        {
          "value": "diamond",
          "label": "Diamond",
          "group": "Basic"
        },
        {
          "value": "triangle_1",
          "label": "Triangle 1",
          "group": "Basic"
        },
        {
          "value": "triangle_2",
          "label": "Triangle 2",
          "group": "Basic"
        },
        {
          "value": "pentagon",
          "label": "Pentagon",
          "group": "Polygons"
        },
        {
          "value": "hexagon",
          "label": "Hexagon",
          "group": "Polygons"
        },
        {
          "value": "heptagon",
          "label": "Heptagon",
          "group": "Polygons"
        },
        {
          "value": "octagon",
          "label": "Octagon",
          "group": "Polygons"
        },
        {
          "value": "rounded_pentagon",
          "label": "Rounded pentagon",
          "group": "Polygons"
        },
        {
          "value": "rounded_hexagon",
          "label": "Rounded hexagon",
          "group": "Polygons"
        },
        {
          "value": "rounded_heptagon",
          "label": "Rounded heptagon",
          "group": "Polygons"
        },
        {
          "value": "rounded_octagon",
          "label": "Rounded octagon",
          "group": "Polygons"
        },
        {
          "value": "star_1",
          "label": "Star 1",
          "group": "Circular"
        },
        {
          "value": "star_2",
          "label": "Star 2",
          "group": "Circular"
        },
        {
          "value": "star_3",
          "label": "Star 3",
          "group": "Circular"
        },
        {
          "value": "star_4",
          "label": "Star 4",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_1",
          "label": "Scalloped circle 1",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_2",
          "label": "Scalloped circle 2",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_3",
          "label": "Scalloped circle 3",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_4",
          "label": "Scalloped circle 4",
          "group": "Circular"
        },
        {
          "value": "parallelogram",
          "label": "Parallelogram",
          "group": "Square"
        },
        {
          "value": "scalloped_square",
          "label": "Scalloped",
          "group": "Square"
        },
        {
          "value": "leaf",
          "label": "Leaf",
          "group": "Square"
        },
        {
          "value": "clipped_square",
          "label": "Clipped",
          "group": "Square"
        },
        {
          "value": "convex_square",
          "label": "Convex",
          "group": "Square"
        },
        {
          "value": "twisted_square",
          "label": "Twisted",
          "group": "Square"
        },
        {
          "value": "trapeze",
          "label": "Trapeze",
          "group": "Square"
        },
        {
          "value": "blob",
          "label": "Blob",
          "group": "Miscellaneous"
        },
        {
          "value": "zig_zag",
          "label": "Zig zag",
          "group": "Miscellaneous"
        },
        {
          "value": "zig_zag_tear",
          "label": "Zig zag tear",
          "group": "Miscellaneous"
        },
        {
          "value": "wave_tear",
          "label": "Wave tear",
          "group": "Miscellaneous"
        },
        {
          "value": "flower",
          "label": "Flower",
          "group": "Miscellaneous"
        },
        {
          "value": "concave",
          "label": "Concave",
          "group": "Miscellaneous"
        },
        {
          "value": "cross",
          "label": "Cross",
          "group": "Miscellaneous"
        },
        {
          "value": "quatrefoil",
          "label": "Quatrefoil",
          "group": "Miscellaneous"
        },
        {
          "value": "wind",
          "label": "Wind",
          "group": "Miscellaneous"
        },
        {
          "value": "heart",
          "label": "Heart",
          "group": "Miscellaneous"
        },
        {
          "value": "mirrored_pyramids",
          "label": "Mirrored pyramids",
          "group": "Miscellaneous"
        },
        {
          "value": "plus",
          "label": "Plus",
          "group": "Miscellaneous"
        },
        {
          "value": "double_pill",
          "label": "Double pill",
          "group": "Miscellaneous"
        },
        {
          "value": "triple_pill",
          "label": "Triple pill",
          "group": "Miscellaneous"
        },
        {
          "value": "crown",
          "label": "Crown",
          "group": "Miscellaneous"
        },
        {
          "value": "abstract_star",
          "label": "Abstract star",
          "group": "Miscellaneous"
        }
      ],
      "info": "Selecting some shapes will crop the image. [Learn more](https://docs.switchthemes.co/shapes/guides/style-images-with-shapes.html)"
    },
    {
      "type": "header",
      "content": "Buttons"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "push-btn-surface",
      "options": [
        {
          "value": "push-btn-surface",
          "label": "Primary"
        },
        {
          "value": "push-btn-surface push-btn-surface--secondary",
          "label": "Secondary"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_buttons_on_mobile",
      "label": "Show buttons on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "only_show_button_on_hover",
      "label": "Only show buttons on hover on desktop",
      "default": true
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        },
        {
          "value": "quaternary",
          "label": "Quaternary"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "use_gradient_background",
      "label": "Use gradient for background"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "select",
          "id": "image_shape",
          "label": "Image shape",
          "options": [
            {
              "value": "same_as_section",
              "label": "Same as section"
            },
            {
              "value": "default",
              "label": "Default",
              "group": "Fit to image"
            },
            {
              "value": "default_ellipse",
              "label": "Ellipse",
              "group": "Fit to image"
            },
            {
              "value": "default_pill",
              "label": "Pill",
              "group": "Fit to image"
            },
            {
              "value": "default_archway",
              "label": "Archway",
              "group": "Fit to image"
            },
            {
              "value": "diamond",
              "label": "Diamond",
              "group": "Basic"
            },
            {
              "value": "triangle_1",
              "label": "Triangle 1",
              "group": "Basic"
            },
            {
              "value": "triangle_2",
              "label": "Triangle 2",
              "group": "Basic"
            },
            {
              "value": "pentagon",
              "label": "Pentagon",
              "group": "Polygons"
            },
            {
              "value": "hexagon",
              "label": "Hexagon",
              "group": "Polygons"
            },
            {
              "value": "heptagon",
              "label": "Heptagon",
              "group": "Polygons"
            },
            {
              "value": "octagon",
              "label": "Octagon",
              "group": "Polygons"
            },
            {
              "value": "rounded_pentagon",
              "label": "Rounded pentagon",
              "group": "Polygons"
            },
            {
              "value": "rounded_hexagon",
              "label": "Rounded hexagon",
              "group": "Polygons"
            },
            {
              "value": "rounded_heptagon",
              "label": "Rounded heptagon",
              "group": "Polygons"
            },
            {
              "value": "rounded_octagon",
              "label": "Rounded octagon",
              "group": "Polygons"
            },
            {
              "value": "star_1",
              "label": "Star 1",
              "group": "Circular"
            },
            {
              "value": "star_2",
              "label": "Star 2",
              "group": "Circular"
            },
            {
              "value": "star_3",
              "label": "Star 3",
              "group": "Circular"
            },
            {
              "value": "star_4",
              "label": "Star 4",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_1",
              "label": "Scalloped circle 1",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_2",
              "label": "Scalloped circle 2",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_3",
              "label": "Scalloped circle 3",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_4",
              "label": "Scalloped circle 4",
              "group": "Circular"
            },
            {
              "value": "parallelogram",
              "label": "Parallelogram",
              "group": "Square"
            },
            {
              "value": "scalloped_square",
              "label": "Scalloped",
              "group": "Square"
            },
            {
              "value": "leaf",
              "label": "Leaf",
              "group": "Square"
            },
            {
              "value": "clipped_square",
              "label": "Clipped",
              "group": "Square"
            },
            {
              "value": "convex_square",
              "label": "Convex",
              "group": "Square"
            },
            {
              "value": "twisted_square",
              "label": "Twisted",
              "group": "Square"
            },
            {
              "value": "trapeze",
              "label": "Trapeze",
              "group": "Square"
            },
            {
              "value": "blob",
              "label": "Blob",
              "group": "Miscellaneous"
            },
            {
              "value": "zig_zag",
              "label": "Zig zag",
              "group": "Miscellaneous"
            },
            {
              "value": "zig_zag_tear",
              "label": "Zig zag tear",
              "group": "Miscellaneous"
            },
            {
              "value": "wave_tear",
              "label": "Wave tear",
              "group": "Miscellaneous"
            },
            {
              "value": "flower",
              "label": "Flower",
              "group": "Miscellaneous"
            },
            {
              "value": "concave",
              "label": "Concave",
              "group": "Miscellaneous"
            },
            {
              "value": "cross",
              "label": "Cross",
              "group": "Miscellaneous"
            },
            {
              "value": "quatrefoil",
              "label": "Quatrefoil",
              "group": "Miscellaneous"
            },
            {
              "value": "wind",
              "label": "Wind",
              "group": "Miscellaneous"
            },
            {
              "value": "heart",
              "label": "Heart",
              "group": "Miscellaneous"
            },
            {
              "value": "mirrored_pyramids",
              "label": "Mirrored pyramids",
              "group": "Miscellaneous"
            },
            {
              "value": "plus",
              "label": "Plus",
              "group": "Miscellaneous"
            },
            {
              "value": "double_pill",
              "label": "Double pill",
              "group": "Miscellaneous"
            },
            {
              "value": "triple_pill",
              "label": "Triple pill",
              "group": "Miscellaneous"
            },
            {
              "value": "crown",
              "label": "Crown",
              "group": "Miscellaneous"
            },
            {
              "value": "abstract_star",
              "label": "Abstract star",
              "group": "Miscellaneous"
            }
          ],
          "info": "Selecting some shapes will crop the image. [Learn more](https://docs.switchthemes.co/shapes/guides/style-images-with-shapes.html)"
        },
        {
          "type": "range",
          "id": "rotate_image",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "Rotate image",
          "default": 0
        }
      ]
    },
    {
      "type": "background_pattern",
      "name": "Background pattern",
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "diagonal_lines",
              "label": "Diagonal lines",
              "group": "Lines"
            },
            {
              "value": "grid",
              "label": "Grid lines",
              "group": "Lines"
            },
            {
              "value": "grid_with_diagonal_lines",
              "label": "Grid with diagonal lines",
              "group": "Lines"
            },
            {
              "value": "crosshatch",
              "label": "Crosshatch",
              "group": "Lines"
            },
            {
              "value": "checkerboard",
              "label": "Checkerboard",
              "group": "Lines"
            },
            {
              "value": "zig_zag",
              "label": "Zig Zag",
              "group": "Lines"
            },
            {
              "value": "waves",
              "label": "Waves",
              "group": "Lines"
            },
            {
              "value": "half_square_triangle",
              "label": "Half-square triangle",
              "group": "Shapes"
            },
            {
              "value": "dots",
              "label": "Dots",
              "group": "Shapes"
            },
            {
              "value": "triangle",
              "label": "Triangles",
              "group": "Shapes"
            },
            {
              "value": "polka_dot",
              "label": "Polka dot",
              "group": "Shapes"
            },
            {
              "value": "polka_dot_triangles",
              "label": "Polka dot triangles",
              "group": "Shapes"
            },
            {
              "value": "plus",
              "label": "Plus",
              "group": "Shapes"
            },
            {
              "value": "cross",
              "label": "Cross",
              "group": "Shapes"
            },
            {
              "value": "squares",
              "label": "Squares",
              "group": "Shapes"
            },
            {
              "value": "diamonds",
              "label": "Diamonds",
              "group": "Shapes"
            },
            {
              "value": "vertical_stripes",
              "label": "Vertical stripes",
              "group": "Stripes"
            },
            {
              "value": "horizontal_stripes",
              "label": "Horizontal stripes",
              "group": "Stripes"
            },
            {
              "value": "diagonal_stripes",
              "label": "Diagonal stripes",
              "group": "Stripes"
            },
            {
              "value": "sprinkles",
              "label": "Sprinkles",
              "group": "Miscellaneous"
            },
            {
              "value": "bubbles",
              "label": "Bubbles",
              "group": "Miscellaneous"
            },
            {
              "value": "squiggle",
              "label": "Squiggle",
              "group": "Miscellaneous"
            },
            {
              "value": "windmill",
              "label": "Windmill",
              "group": "Miscellaneous"
            },
            {
              "value": "8bit",
              "label": "8bit",
              "group": "Miscellaneous"
            },
            {
              "value": "origami",
              "label": "Origami",
              "group": "Miscellaneous"
            },
            {
              "value": "3d_cube",
              "label": "3D Cube",
              "group": "Miscellaneous"
            }
          ]
        },
        {
          "type": "select",
          "id": "color",
          "label": "Color",
          "default": "text",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "card",
              "label": "Card"
            },
            {
              "value": "background",
              "label": "Background"
            },
            {
              "value": "gradient",
              "label": "Gradient"
            }
          ]
        },
        {
          "type": "range",
          "id": "size",
          "min": 6,
          "max": 600,
          "unit": "px",
          "label": "Pattern size",
          "step": 6,
          "default": 24
        },
        {
          "type": "range",
          "id": "opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Opacity",
          "default": 100
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "Enable parallax",
          "default": false,
          "info": "When enabled pattern will scroll slower than the rest of the page."
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Parallax speed",
          "default": 3
        }
      ]
    },
    {
      "type": "background_shape",
      "name": "Background shape",
      "settings": [
        {
          "type": "select",
          "id": "shape",
          "label": "Shape",
          "default": "square",
          "options": [
            {
              "value": "square",
              "label": "Square",
              "group": "Basic"
            },
            {
              "value": "circle",
              "label": "Circle",
              "group": "Basic"
            },
            {
              "value": "oval",
              "label": "Oval",
              "group": "Basic"
            },
            {
              "value": "triangle",
              "label": "Triangle",
              "group": "Basic"
            },
            {
              "value": "parallelogram",
              "label": "Parallelogram",
              "group": "Basic"
            },
            {
              "value": "pentagon",
              "label": "Pentagon",
              "group": "Polygons"
            },
            {
              "value": "hexagon",
              "label": "Hexagon",
              "group": "Polygons"
            },
            {
              "value": "heptagon",
              "label": "Heptagon",
              "group": "Polygons"
            },
            {
              "value": "octagon",
              "label": "Octagon",
              "group": "Polygons"
            },
            {
              "value": "star_1",
              "label": "Star 1",
              "group": "Circular"
            },
            {
              "value": "star_2",
              "label": "Star 2",
              "group": "Circular"
            },
            {
              "value": "star_3",
              "label": "Star 3",
              "group": "Circular"
            },
            {
              "value": "star_4",
              "label": "Star 4",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_1",
              "label": "Scalloped circle 1",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_2",
              "label": "Scalloped circle 2",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_3",
              "label": "Scalloped circle 3",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_4",
              "label": "Scalloped circle 4",
              "group": "Circular"
            },
            {
              "value": "blob",
              "label": "Blob",
              "group": "Miscellaneous"
            }
          ]
        },
        {
          "type": "range",
          "id": "blob_type",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Blob type",
          "default": 1,
          "info": "Applies when blob shape is selected above."
        },
        {
          "type": "range",
          "id": "size",
          "min": 25,
          "max": 300,
          "step": 5,
          "label": "Size",
          "default": 100
        },
        {
          "type": "range",
          "id": "opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Opacity",
          "default": 100
        },
        {
          "type": "range",
          "id": "blur",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "Blur",
          "default": 0
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical position",
          "default": 50
        },
        {
          "type": "range",
          "id": "rotate",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "Rotate",
          "default": 0
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "Enable parallax",
          "default": false,
          "info": "When enabled shape will scroll slower than the rest of the page."
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Parallax speed",
          "default": 3
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Color",
          "default": "accent",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "card",
              "label": "Card"
            },
            {
              "value": "background",
              "label": "Background"
            },
            {
              "value": "gradient",
              "label": "Gradient"
            }
          ]
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "Scheme",
          "default": "same_as_section",
          "options": [
            {
              "value": "same_as_section",
              "label": "Same as section"
            },
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "quaternary",
              "label": "Quaternary"
            }
          ]
        }
      ]
    },
    {
      "name": "Sticker",
      "type": "sticker",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Sticker"
        },
        {
          "type": "select",
          "id": "shape",
          "label": "Shape",
          "options": [
            {
              "value": "fit_to_text",
              "label": "Fit to text"
            },
            {
              "value": "circle",
              "label": "Circle",
              "group": "Circular"
            },
            {
              "value": "star_1",
              "label": "Star 1",
              "group": "Circular"
            },
            {
              "value": "star_2",
              "label": "Star 2",
              "group": "Circular"
            },
            {
              "value": "star_3",
              "label": "Star 3",
              "group": "Circular"
            },
            {
              "value": "star_4",
              "label": "Star 4",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_1",
              "label": "Scalloped circle 1",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_2",
              "label": "Scalloped circle 2",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_3",
              "label": "Scalloped circle 3",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_4",
              "label": "Scalloped circle 4",
              "group": "Circular"
            },
            {
              "value": "parallelogram",
              "label": "Parallelogram",
              "group": "Square"
            },
            {
              "value": "scalloped_square",
              "label": "Scalloped",
              "group": "Square"
            },
            {
              "value": "leaf",
              "label": "Leaf",
              "group": "Square"
            },
            {
              "value": "clipped_square",
              "label": "Clipped",
              "group": "Square"
            },
            {
              "value": "convex_square",
              "label": "Convex",
              "group": "Square"
            },
            {
              "value": "twisted_square",
              "label": "Twisted",
              "group": "Square"
            },
            {
              "value": "trapeze",
              "label": "Trapeze",
              "group": "Square"
            },
            {
              "value": "ellipse",
              "label": "Ellipse",
              "group": "Wide"
            },
            {
              "value": "diamond_wide",
              "label": "Diamond",
              "group": "Wide"
            },
            {
              "value": "rounded_diamond_wide",
              "label": "Rounded diamond",
              "group": "Wide"
            },
            {
              "value": "triangle_wide",
              "label": "Triangle",
              "group": "Wide"
            },
            {
              "value": "hexagon_wide",
              "label": "Hexagon",
              "group": "Wide"
            },
            {
              "value": "rounded_hexagon",
              "label": "Rounded hexagon",
              "group": "Wide"
            },
            {
              "value": "uneven_star_wide",
              "label": "Uneven star",
              "group": "Wide"
            },
            {
              "value": "star_wide",
              "label": "Star",
              "group": "Wide"
            },
            {
              "value": "semicircle",
              "label": "Semicircle",
              "group": "Wide"
            },
            {
              "value": "eye",
              "label": "Eye",
              "group": "Wide"
            },
            {
              "value": "parallelogram_wide",
              "label": "Parallelogram",
              "group": "Wide"
            },
            {
              "value": "ribbon",
              "label": "Ribbon",
              "group": "Wide"
            },
            {
              "value": "ticket_stub",
              "label": "Ticket stub",
              "group": "Wide"
            },
            {
              "value": "wave_ribbon",
              "label": "Wave ribbon",
              "group": "Wide"
            },
            {
              "value": "zig_zag_ribbon",
              "label": "Zig zag ribbon",
              "group": "Wide"
            }
          ],
          "default": "star_1"
        },
        {
          "type": "range",
          "id": "width",
          "min": 100,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Sticker width",
          "default": 150
        },
        {
          "type": "select",
          "id": "sticker_font_size",
          "label": "Font size",
          "options": [
            {
              "value": "1rem",
              "label": "Extra small"
            },
            {
              "value": "1.25rem",
              "label": "Small"
            },
            {
              "value": "1.563rem",
              "label": "Medium"
            },
            {
              "value": "1.953rem",
              "label": "Large"
            },
            {
              "value": "2.441rem",
              "label": "Extra large"
            }
          ],
          "default": "1.563rem",
          "info": "Font size is relative to sticker width."
        },
        {
          "type": "header",
          "content": "Custom image"
        },
        {
          "type": "paragraph",
          "content": "Using an image will override shape and text settings above."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "half_image_width_on_mobile",
          "label": "Half image width on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position",
          "default": 80
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical position",
          "default": 80
        },
        {
          "type": "range",
          "id": "rotate",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "Rotate",
          "default": 0
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_mobile",
          "label": "Show sticker on mobile",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_desktop",
          "label": "Show sticker on desktop",
          "default": true
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "select",
          "id": "rotation_animation",
          "label": "Rotation",
          "options": [
            {
              "value": "none",
              "label": "No rotation"
            },
            {
              "value": "constantly_rotate",
              "label": "Constantly rotate"
            },
            {
              "value": "rotate_when_scrolling",
              "label": "Rotate only when page is scrolling"
            }
          ],
          "default": "none"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "Enable parallax",
          "default": false,
          "info": "When enabled stickers will scroll faster than the rest of the page."
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Parallax speed",
          "default": 3
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Color",
          "default": "bg-scheme-accent text-scheme-accent-overlay",
          "options": [
            {
              "value": "bg-scheme-text text-scheme-text-overlay",
              "label": "Text"
            },
            {
              "value": "bg-scheme-accent text-scheme-accent-overlay",
              "label": "Accent"
            },
            {
              "value": "bg-scheme-card text-scheme-text",
              "label": "Card"
            },
            {
              "value": "bg-scheme-background text-scheme-text",
              "label": "Background"
            },
            {
              "value": "bg-scheme-gradient text-scheme-text",
              "label": "Gradient"
            }
          ]
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "Scheme",
          "default": "same_as_section",
          "options": [
            {
              "value": "same_as_section",
              "label": "Same as section"
            },
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "quaternary",
              "label": "Quaternary"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
